<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Bem-Vindo</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #bff1ce;
            margin: 0;
        }
        .message {
            font-family: 'Roboto', sans-serif;
            font-size: 32px;
            color: #1d3b30;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="message">Seja bem-vindo!</div>
</body>
</html>
